.card-title {
    color: rgb(11, 11, 11);
  }
  
  .card-deck {
    display: flex;
    margin: auto;
  }
  
  .card {
    display: flex;
    justify-content: left;
    max-width: 320px;
    min-width: 280px;
    border: 1px solid black;
    margin: 15px;
    box-shadow: 5px 10px rgb(175, 153, 114)
    
  }
  
  li {
    margin: 0;
    border: 0;
    padding: 0;
    height: auto;
  }